
      <form accept-charset="UTF-8" action="/colleagues" class="new_colleague" enctype="multipart/form-data" id="new_colleague" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="dK6rZDWKdl4E4BCN+dBSwnMNtnDvMefThjF4n0mutXs=" /></div>





<div style="height: 50px">
</div>
<div class="well span4">
  <div class="field"><font size="3px">Name :</font><br>
    <input id="colleague_name" name="colleague[name]" required="required" size="30" type="text" />
  </div>

  <div class="field" > <font size="3px">Location : </font><br>
    <input id="colleague_location" name="colleague[location]" required="required" size="30" type="text" />
  </div>

  <div class="field" id="Date"> <font size="3px">Project : </font><br>
    <input id="colleague_project" name="colleague[project]" required="required" size="30" type="text" />
  </div>


  <div class="field"> <font size="3px">Attach Picture : </font><br>
    <input id="colleague_attachment" name="colleague[attachment]" type="file" />
  </div>
<input type="hidden" id="colleague_longlat" name="colleague[longlat]"/>
  <div style="height: 50px">
  </div>

  <div>  <input class="btn btn-primary" name="commit" type="submit" value="Save" onclick="findlatandlong()"/></div>

  <div>  <a href="/colleagues" class="btn">Back</a></div>

</div>

</form>
<script
src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
</script>
<script type="text/javascript"
     src="http://maps.google.com/maps/api/js?sensor=true">
</script> 
<script type="text/javascript">
function findlatandlong()
{
  alert("dklfjkl");

var address = document.getElementById('colleague_location').value;
alert(address);
var geo = new google.maps.Geocoder;

geo.geocode({'address':address},function(results, status){
    if (status == google.maps.GeocoderStatus.OK) {              
        var myLatLng = results[0].geometry.location;
        //var lat=myLatLng.split(",");
        //var latitude=lat[0];
        //alert(latitude);
        var lat= myLatLng.hb;
        console.log("===="+lat);
 $('#colleague_longlat').val(lat); 
 alert($('#colleague_longlat').val());
        // Add some code to work with myLatLng              

    } else {
        alert("Geocode was not successful for the following reason: " + status);
    }
})
}
</script>
