
<div class="userlist">
	<h2>Colleagues in <%="#{params[:loc]}"%></h2>
<input type="text" id="name">
<input type="button" value="search" onclick="searchUserinLocation("<%="#{params[:loc]}"%>")" />
 <br/>
<% user=Colleague.where(:location=>  params[:loc]).select(:name).sample(5) %>
  <% user.each do |username|  %>
 <%= username.name %>
 <br/>
  
 <% end %>
</div>
<script type="text/javascript">
function searchUserinLocation(location)
{
	alert(location);
	 name=document.getElementById("name").value;
    
     $.ajax({
    url: '/colleagues/searchinloc?search='+name+'&loc='+location,
    error: function (XMLHttpRequest, textStatus, errorThrown) {
      alert("Something went wrong!! Please try again later.");
                
    },
    success: function(data){
        jQuery("#userlist").html(data);
    },
    type: "get"
  });  
 }
}
</script>