
    <%= javascript_include_tag "map" %>
<%= link_to image_tag("icon_list.png", :alt => "Manage Colleagues"), colleagues_path %>
<%= link_to image_tag("icon_map_selected.png",  :alt => "View Map"),  map_colleagues_path %>



<div class="hr"></div>
</div>
<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8" />
  <script
  src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
  </script>
   <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
  <input type="hidden" value="" id="location"/> 
  <script>

</script>    <%= javascript_include_tag "application","map" %>
</head>

<body>

    

    <div class="searchbutton">
     <label for="name"> Enter Colleague Name </label>
      <input type="text" id="name" onKeydown="Javascript: if (event.keyCode==13) center();">
      <input type="button" value="search" onclick="center()">
    </div>

    <div id="map_canvas" class="map"></div>




</body>
</html>



