<div class="container">
<div id="example" class="modal hide fade in" style="display: none; width:700px ;height:500px; ">

    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>List of colleagues</h3>
    </div>
    <div class="modal-body">
    <p>
<div id="test">

    </p>
</div>
</div>
<div class="modal-footer">
     <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
 </div>
</div>
</div>

<div style="display: inline-block; margin-right:800px">
  <%= link_to image_tag("icon_map_selected.png"), map_colleagues_path , title: 'AppDev Map', rel: 'tooltip' %>
  <%= link_to image_tag("icon_list.png"), colleagues_path , title: 'Colleagues List', rel: 'tooltip' %>
  
</div>





<div class="hr"></div>
<div style="float:right; display:inline-block; margin-top:10px">

  <input  id="name" type="text" size="40" value="Enter Colleague Name" onfocus="if(this.value=='Enter Colleague Name')this.value=''" onblur="if(this.value=='')this.value='Enter Colleague Name'" onKeydown="Javascript: if (event.keyCode==13) center();" />
  <!-- <input style="display:inline-block vertical-align:middle" type="button" value="Search" onclick="center()" class="btn  btn-custom" >
 -->

</div>

<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8" />
 <script
 src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
 </script>

 <style type="text/css">
 img[src*="iws3.png"] {
  display: none;
}
</style>


<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />

<input type="hidden" value="" id="location"/> 
<script>

function loadlist(location)
{

 var popuplist=[];
  var list;
    $.ajax({
      url: '../colleagues/locationlist?loc='+location,
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        alert("Something went wrong!! Please try again later.");

      },
      success: function(data){

    
          var jsonObj = $.parseJSON(data);

    $('#test').append(' <table border="0" id="display" class="paginated" style="width:600px"><thead><tr><th scope="col" style="width:200px"></th><th scope="col"style="width:200px"></th><th scope="col" style="width:200px"></th></tr></thead><tbody>');

            $.each(jsonObj,function(key,val){
 list=list+'<tr><td>'+'<img src='+val.image+'></td><td>'+val.cname+'</td><td>'+val.project+'</td>'+'</tr>';
  

  });
      
  

        $('#display tbody').append(list+'</tbody></table>');


$('#display').dataTable();

      
    name="";
    image="";
     },
     type: "get"
   });  
$("#display tr").remove();
$("#display thead").remove();
$("#test").empty();
}
$(document).ready(function() {
  var availableTags=[];
  var NoResultsLabel = "No Results";
        $.ajax({
          url: '../colleagues/autocomplete',
          error: function (XMLHttpRequest,textStatus,errorThrown) {
          alert("Something went wrong!! Please try again later. Unable to load colleagues list");

      },
      success: function(data){
      jQuery("#search_user").html("This Person is based in " +data);
      var jsonObj = $.parseJSON(data);
      $.each(jsonObj,function(index,value){
      availableTags.push(value.name);
   

  });


    },
    type: "get"
  });  
$( "#name" ).autocomplete({
  
  source: function( request, response ) {
    var matches = $.map( availableTags, function(tag) {
      if ( tag.toUpperCase().indexOf(request.term.toUpperCase()) === 0 ) {
        return tag;
      }
    });
     if (!matches.length) {
                matches = [NoResultsLabel];
            }
    response(matches);

  },
    select: function (a,b) {
      $(this).val(b.item.value);
     center();
    }
});

//$( "#name" ).autocomplete({
//source: availableTags
//});
 });
   
  var infowindow = null;

  function initialize() { 
   $.ajax({
    url: '../colleagues/allpins',
    error: function (XMLHttpRequest,textStatus,errorThrown) {
      alert("Something went wrong!! Please try again later. Unable to load map");

    },
    success: function(data){

      initializePage(data); 

    },
    type: "get"
  });  

   
 }

  $(document).ready(initialize);
  var address ;
  

  function center()
  {

    name=document.getElementById("name").value;
    
    $.ajax({
      url: '../colleagues/search?search='+name,
      error: function (XMLHttpRequest, textStatus, errorThrown) {
        alert("Something went wrong!! Please try again later.");

      },
      success: function(data){

    
          
if (data=="[]")
{alert("No colleague with this name")}
else
  {

    
  var jsonObj = $.parseJSON(data);
   $.each(jsonObj,function(index,value){
 
    address=value.place;
    image=value.image;

  });
    
  
       
       jQuery("#search_user").html("This Person is based in " +address);
  
       initializeSearch(name,address,image);
        address="";
    image="";
     }},
     type: "get"
   });  
  }
  function initializePage(data) {

    var centerMap = new google.maps.LatLng(0,0);

    var myOptions = {
      zoom: 2,
      center: centerMap,
      minZoom: 2, 
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }

    var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
    var sites = createAllSites(data);
    setMarkers(map, sites);
        /*infowindow = new google.maps.InfoWindow({
                content: "loading..."
              });*/
} 

function createAllSites(data){
  var sites=[];

  var jsonObj = $.parseJSON(data);

  $.each(jsonObj,function(index,value){
    var site=[];
    site.push(value.place);
    site.push(parseFloat(value.latitude));
    site.push(parseFloat(value.langitude));
    site.push(2);


    site.push("<div style='text-align:left'><b>Location : <font color=#D75600>"+ value.place+"<br/></font>Total Number of Colleagues : <font color=#D75600>"+value.count+"</font><br/><br/><a data-toggle='modal' href='#example' class='btn' onclick=loadlist('"+value.place+"');>view list</a></div>");

    sites.push(site);
  });
  return sites;
}

function initializeSearch(name,address,image) {


  var centerMap = new google.maps.LatLng(0,0);

  var myOptions = {
    zoom: 4,
    center: centerMap,
    minZoom: 2, 
    mapTypeId: google.maps.MapTypeId.ROADMAP
  }

  var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

  var bikeLayer = new google.maps.BicyclingLayer();
  bikeLayer.setMap(map);

  geocoder = new google.maps.Geocoder();

  geocoder.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
        //In this case it creates a marker, but you can get the lat and lng from the location.LatLng
      
        map.setCenter(results[0].geometry.location);
        var sites = createSites(results[0].geometry,address,name,image);
        setSearchMarkers(map, sites);

        /*infowindow = new google.maps.InfoWindow({
                content: "loading..."
              });*/
}
} );

}

function createSites(geometry,address,name){


 var sites = [
 [address, geometry.location.lat(), geometry.location.lng(), 2,"<div style='text-align:center'><font color=#D75600 size='5px'><b>"+name+"</font><br/>Based in : <font color=#D75600>"+address+"</font>"+"<br/><br/><img src='"+image+"'>"]
 ];

 return sites;
}

var addressField = document.getElementById('search_address');
var geocoder = new google.maps.Geocoder();





function setMarkers(map, sites) {

  for (var i = 0; i < sites.length; i++) {
    var site = sites[i];
  
    var siteLatLng = new google.maps.LatLng(site[1], site[2]);

    var marker = new google.maps.Marker({
      position: siteLatLng,

      map: map,

      title: site[0],
      zIndex: site[3],
      html: site[4]
    });

    google.maps.event.addListener(marker, "click", function () {

     infowindow = new google.maps.InfoWindow({
      content: "loading..."
    });
     infowindow.setContent(this.html);
     infowindow.open(map, this);

     map.setCenter(this.getPosition());
   });

  }
}
function setSearchMarkers(map, sites) {


  for (var i = 0; i < sites.length; i++) {
    var site = sites[i];
  
    var siteLatLng = new google.maps.LatLng(site[1], site[2]);

    var marker = new google.maps.Marker({
      position: siteLatLng,

      map: map,

      title: site[0],
      zIndex: site[3],
      html: site[4]
    });

    google.maps.event.addListener(marker, "click", function () {

     infowindow = new google.maps.InfoWindow({
      content: "loading..."
    });
     infowindow.setContent(this.html);
     infowindow.open(map, this);

     map.setCenter(this.getPosition());
   });




    infowindow = new google.maps.InfoWindow({
      content: site[4]
    });
    infowindow.open(map, marker);
  } 
    google.maps.event.addListener(infowindow, 'closeclick', function() {  

    initialize(); 
})


}




</script>
</head>

<body>





  <div id="map_canvas" class="map"></div>



</body>
</html>



