<%= link_to image_tag("icon_map.png",  :alt => "View Map"),  map_colleagues_path %>
<%= link_to image_tag("icon_list.png", :alt => "Manage Colleagues"), colleagues_path %>


<div class="hr"></div>
</div>
<body>
<center><h2> Add New Colleague </h2></center>

      <%= render 'form' %>


</body>
