/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
html,
body {



}
.wrapper {

min-height:100%;
position:relative;
width:960px;
}

.content {
background-image:url('main_bg.jpg');
background-repeat:repeat-y;

width:960px;
}

.header
{

background-image:url('header.jpg');
background-repeat:no-repeat;
  padding: 10px;
  padding-bottom:20px;
  height: 75px;
  float: center;

}
.ajaxresult
{

}
.searchbutton
{

  padding-bottom:20px;
  padding-top:20px;


}

.div_hover {background-image:url('icon_map.png'); 
background-repeat:no-repeat;
}

.div_hover:hover { background-image:url('icon_map_selected.png'); 
background-repeat:no-repeat;}



.hr {
  height: 5px;
  width: 800px;
  background: #FF8000 ;
 }

.map
{border:2px solid;
width: 960px;
 height: 500px;

 margin-top: 5px;
 }
 .userlist
 {

 	width: 100%;
 	height: auto;
 }
